body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 230, 241);
}
#remover{
    height: 40px;
    width: 40px;
    padding: 0;
    justify-content: center;
}
#remover:hover {
    background-color: rgb(223, 0, 0);
}
li {
    height: 40px;
    width: 600px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}
li:hover {
    background-color: #e2e2e2;
    color: white;
}
.clicked {
    background-color: rgb(75,174,79);
    color: white
}
.clicked:hover {
    background-color: rgb(129, 199, 132);
    color: white
}
li > span {
    display: flex;
    align-items: center;
}